<div class="messagebox">
    <div class="messageboxicon iconalert">

    </div>
    <div class="messageboxcontent">
        Sicuro di voler eliminare la riga selezionata?
    </div>
    <div class="messageboxbuttons">
        <a class="btn2messagebox btn btn-sm btn-default">CANCEL</a>
        <a class="btn1messagebox btn btn-sm btn-primary">OK</a>
    </div>
</div>
<div class="oscura"></div>
<script src="/Content/Scripts/messageBox.js"></script>