@using WebSite.Models
@using WebSite.Models.ViewModels
@using WebSite.Helpers
@using WebSite.Infrastructure
@using HtmlHelpers


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerMeta{
    <title></title>
    <meta name="description" content="" />
}
<div class="sitecontent innercontent prodottowrapper" style="margin-top:180px;">
    <h1>Transazione</h1>
    <p>
        La transazione è andata a buon fine. Grazie per il pagamento effettuato. / Payment has been successfully processed
    </p>
</div>



