
@{
    Layout = null;
    ViewBag.Title = "GloboFest";
}

<div style="width:100%;max-width:800px;margin-top:30px;margin:auto" >
    <img style="width:100%;margin-bottom:30px;" src="~/images/newsletter/globofest.jpg" />
    <div style="text-align:center;color:gray;margin-bottom:25px;">
        <a style="color:black;text-decoration:none;font-size:large" href="https://www.ceramicaglobo.com">www.ceramicaglobo.com</a>
        <br /><br />
        <a style="display:inline-block;background-color:gray;width:35px;padding:5px;border-radius:5px;"  target="_blank" href="https://www.facebook.com/GloboCeramica" href="">
            <img src="~/images/common/btfacebook.png" />
        </a>
        <a style="display:inline-block;background-color:gray;width:35px;padding:5px;border-radius:5px;" target="_blank" href="https://instagram.com/ceramicaglobo/">
            <img src="~/images/common/btpinterest.png" />
        </a>
        <br /><br />
        Informativa Privacy - Ai sensi del Regolamento (UE) 2016/679 si precisa che le informazioni contenute in questo messaggio sono riservate e ad uso esclusivo del destinatario.

        Qualora il messaggio in parola Le fosse pervenuto per errore, La preghiamo di eliminarlo senza copiarlo e di non inoltrarlo a terzi, dandocene gentilmente comunicazione. Grazie.
        <br /><br />
        Privacy Information - This message, for the Regulation (UE) 2016/679, may contain confidential and/or privileged information.

        If you are not the addressee or authorized to receive this for the addressee, you must not use, copy, disclose or take any action based on this message or any information herein.

        If you have received this message in error, please advise the sender immediately by reply e-mail and delete this message. Thank you for your cooperation.
    </div>
</div>

